body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../images/NSW-3f087f13b1ca31212b82e2f09c384f3d.jpg);
  background-size: cover;
  background-attachment: fixed;
  transition: all 1.5s ease-in-out;
}

/* Change the background img on hover to the weather, hotel, rest. cards */
body:hover {
  background-image: url(../images/image001.jpg);
  background-size: cover;
  background-attachment: fixed;
  transition: all 1.5s ease-in-out;
}

main {
  flex: 1 0 auto;
}

img {
  height: 83px;
  width: 175px;
}

nav {
  background-color: #01969d;
  margin-bottom: 40px;
}

.nav-wrapper {
  justify-content: center;
}

.search-bar {
  background-color: #03969c;
}

.logo {
  box-shadow: #03393bbe 0px 3px 20px 3px;
  border: solid #48a9a6;
}

.page-footer {
  background-color: #ffd100
}

.hide {
  display: none;
}

.filter {
  float: left;
  z-index: 2;
}
