body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../images/NSW-3f087f13b1ca31212b82e2f09c384f3d.jpg);
  background-size: cover;
  background-attachment: fixed;
  transition: all 1.5s ease-in-out;
}

/* Change the background img on hover to the weather, hotel, rest. cards */
body:hover {
  background-image: url(../images/image001.jpg);
  background-size: cover;
  background-attachment: fixed;
  transition: all 1.5s ease-in-out;
}


main {
  flex: 1 0 auto;
}

img {
  height: 83px;
  width: 175px;
}
#fiveDay-0 {
  background-color: #E5EAFA;
  border-radius: 15px;
  
}
#fiveDay-1 {
  background-color: #E5EAFA;
  border-radius: 15px;
  
}
#fiveDay-2 {
  background-color: #E5EAFA;
  border-radius: 15px;
}
#fiveDay-3 {
  background-color: #E5EAFA;
  border-radius: 15px;
}
#fiveDay-4 {
  background-color: #E5EAFA;
  border-radius: 15px;
}

nav {
  background-color: #01969d;
  margin-bottom: 40px;
}

.nav-wrapper {
  justify-content: center;
}
.weather-card {
  background-color: rgb(22, 154, 241);
}
.fiveDayText {
  color: rgb(20, 16, 6);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-weight: 400 bold;
  
}
.card-title {
  background-color: #ff0037;
}
.cardZero {
  background-color: #C6CCB2;
}
.cardOne {
  background-color: #C6CCB2;
}
.cardTwo {
  background-color: #C6CCB2;
}
.cardThree {
  background-color: #C6CCB2;
}
.cardFour {
  background-color: #C6CCB2;
}

.search-bar {
  background-color: #ffd100;
  box-shadow: #03393bbe 0px 3px 20px 3px;
}

.logo {
  box-shadow: #03393bbe 0px 3px 20px 3px;
  border: solid #48a9a6;
}

.weather-card {
  text-align: center;
}

.main-fiveDay-weather-card{
  text-align: center;
  background-color: #ffd00083;
  justify-content: center;
}

.fiveDay-weather-card {
  border: black;
  text-align: center;
  background-color: #ffd100;
  justify-content: center;
}

.hotel-card {
  background-color: #ffd000d0;
}

.restaurant-card {
  background-color: #ffd000d0;
}

.activate {
  color: #01969d;
}

.page-footer {
  background-color: #01969d;
}

.hide {
  display: none;
}

.filter {
  float: left;
  z-index: 2;
  width: 300px;
}

